.forminput{
    display: flex;
    gap: 10%;
    flex-direction: column; 
    align-items: center;
    width: 40%;
    margin-left:auto;
    margin-right: auto;
    
    
    
}

.forminput input{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    outline: none
    
}

.errors{
    color: red;
    font-size: 14px;
    margin-right: auto;
}

.forminput input:active,
.forminput input:focus
{
    border-bottom: 2px solid #1A73E8;
}