

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* .forminput{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    width: 100%
    
    
    
} */

.header{
    display: flex;
    flex-direction: row;
    
    padding: 0 40px 0 0;
    margin-bottom: 0px;
    /* width: %; */
}

.addcontactbtn{
    display:flex;
    height: 40px;
    border: none;
  border-radius: 55px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 30px ;
  background-color: #fff;
  font-weight: bold;
  color: #54575A;
  text-align: center;
}

.addcontactbtn:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #24a0ed;
}

.userdetails{
    width:100%;
    column-gap:250px;
    display: flex;
    flex-direction: row;
    color: #5F637C;
    font-weight: 500;
    font-size: medium;
    align-items:center;
}


p{
min-width:100px;
}

.master{
    display: flex;
    flex-direction: row;
    gap: 250px;
    align-items: center;
}

.master input{
    height: 40px;
    min-width: 400px;
    border-radius: 5px;
    
}

/* .image-upload{
    display: grid;
    grid-template-columns: 50% 50%;
    width:40%;
    margin:auto;
    grid-gap:2rem;
    place-items: center;
} */
.image-upload{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    column-gap: 400px;
    margin-bottom: 50px;
}
/* .image-upload button{
    height:2rem;
    width:5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    background-color: #007BFF;
    color:white;
} */
.img-upload{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
select{
    width:10rem;
    padding:1rem;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius:10px;
    outline: none;
    margin-left: 1rem;
}
select:active{
    border:none;
}

.contacts-empty{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

}

.contacts-empty h1{
    color: grey;
}

.savebtn{
    background-color: #0c70f3;
    color: white;
    padding: 5px 20px;
    border-radius: 5%;
    outline: none;
    border: none;
}

.savebtn:hover{
    background-color: #6493d1;
}

.savebtn:disabled{
    background-color: #8eaacf;
}